a:link, a:visited { 
	text-decoration: underline;
	text-shadow: none;
	background: #FA8072;
}
a:hover{
	cursor: pointer;
	background: rgba(255, 255, 255, 1);
	text-shadow: none;
	text-decoration: none;
}
h1 {
  font-size: 200%;
  line-height: 1.1em;
  color: black;
  margin: 0 1em 1em 1em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 90%;
  line-height: 1em;
  color: black;
  text-align: center;
}
.title {
  position:absolute;
  display:block;
  font-size: 150%;
  line-height: 1.1em;
  color: black;
  font-weight: bold;
  text-align: left;
  top:100px;
}
.info{
	position:absolute;
	float:left;
	font-size:75%;
	left:0%;
	top:70%;
}
.agilespain{
	position:absolute;
	top:77%;
	left:70%;
}
.madriagil{
	position:absolute;
	top:75%;
	left:45%;
}
.atsistemas{
	position:absolute;
	top:45%;
	left:10%;
	
}
.spainjs{
	width:250px;
	height:150px;
	position:absolute;
	top:45%;
	left:40%;
	
}
.madridjs{
	position:absolute;
	top:45%;
	left:75%;
	
}
.hello{
	float:left;
}
.rounded{
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	-o-border-radius: 10px; 
	-ms-border-radius: 10px; 
	border-radius: 10px; 
}
.step .img_inline {
  position:relative;
  top:5%;
  margin: auto 20% auto 20%;
  max-width: 60%;
}

.step figure.img_inline {
  margin: auto;
  padding: 0;
  width: 100%;
}

.step figure.img_inline img {
  margin: auto;
  padding: 0;
  max-width: 100%;
}

.step figure.img_inline figcaption {
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;
  font-size: 0.5em;
  color: #2f3f3f;
  line-height: 1em;
  text-align: center;
}
.step figure.img_centered {
  margin: auto;
  padding: 0;
  width: 100%;
}
.step .img_centered img{
	  display: block;
	  margin-left: auto;
	  margin-right: 35%;
}

.step figure.img_tiny {
  margin: auto;
  padding: 0;
  width: 100%;
}
.step figure.img_tiny img{
	  padding: 0;
	  max-width: 30%;
}

.step figure.img_big {
  margin: auto;
  padding: 0;
  width: 100%;
}
.step figure.img_big img{
	  padding: 0;
	  max-width: 120%;
}

.step hgroup h1 {
  font-size: 200%;
  line-height: 1.1em;
  color: black;
  margin: 3em 1em 0 auto;
  font-weight: bold;
  text-align: center;
}

.step hgroup h2 {
  margin: 2em auto;
  text-align: center;
}

.license {
  width: 15%;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
}

.license img {
  cursor: pointer;
  width: 100%;
  position: absolute;
  top:-55px;
  left:-2px;
}

.license a[rel=me] {
  width: 100%;
  font-size: 0.61em;
  font-weight: bold;
  line-height: 0.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

.license a {
  cursor:pointer;
  color: blue;
  text-decoration: none;
  padding: 0;
  width: 100%;
  margin: 0;
  background: inherit;
  text-shadow: none;
  border-radius: 0;
}
.step .portrait {
  max-width: 20%;
  float: right;
  display: inline;
}

.step .portrait-around {
  position: relative;
  top: -30%;
}

.step .title {
  float: left;
  font-size: 150%;
  line-height: 1.1em;
  color: black;
  font-weight: bold;
  text-align: left;
  display: inline;
}

.step .bullets {
  margin: 1em auto 3em auto;
  width: 100%;
  display: inline;
  float: left;
}

.step .bullets li {
  padding-bottom:.5em;
  margin-left: 1em;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
}

.step .bullets li:before {
  content: "\00BB \0020";
  color: red;
  font-weight: bold;
}

.even, .step .bullets li.even {
  margin: auto auto 0.25em 0;
  text-align: left;
}

.odd, .step .bullets li.odd {
  margin: auto 0 0.25em auto;
  text-align: right;
}

.step .bullets li.odd:before {
  content: "";
}

.step .bullets li.odd:after {
  content: " \0020 \00AB";
  color: red;
  font-weight: bold;
}

.step .center {
  margin-top: 20%;
  margin-bottom: auto;
}

.big, .step .bullets li.big {
  margin-bottom: 1em;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

.normal, .step .bullets li.normal {
  margin-bottom: 1em;
  font-size: 1.1em;
  letter-spacing: 0.05em;
}
.red { color:red;}

footer {
	text-align:center;
	font-size:85%;
	position: absolute;
	margin: 0 2% 2% 0;
	padding: 0;
	bottom: 0;
	right: 0;
	
}
